@media only screen and (min-width: 380px) {
  body {
    padding: 0 3%;
  }

  h2 {
    font-size: 53px;
    padding-bottom: 5px;
  }

  p {
    font-size: 38px;
    padding-bottom: 5px;
  }

  main > .banner-search {
    justify-content: flex-start;
  }

  main > .banner-search > img {
    display: none !important;
  }

  main > .banner-search > .search-reserve {
    position: relative;
    width: 100%;
    box-shadow: none;
    border: none;
    height: auto;
    min-width: auto;
    min-height: auto;
  }

  .input-search .input-layout {
    border-radius: 15px;
  }

  .input-search label {
    margin: 25px;
  }

  .input-search input {
    font-size: 30px;
  }

  .input-search span {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .button-search {
    display: flex;
    margin-top: 10px;
  }
  
  .input-search select {
    display: flex;
    width: 382px!important;
    font-size: 30px; 

  }

  .input-search select span {
    font-size: 50px;
    background-color: rgb(24, 53, 53);    
  }
  
  .button-search button {
    padding: 25px;
    border-radius: 15px;
  }
  
  .button-search button span {
    font-size: 40px;
    letter-spacing: 2px;
  }
  
}
